************* Module pkg_resources._vendor.packaging.requirements
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:9:0: E0611: No name 'pyparsing' in module 'pkg_resources.extern' (no-name-in-module)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:10:0: E0611: No name 'pyparsing' in module 'pkg_resources.extern' (no-name-in-module)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:11:0: E0611: No name 'pyparsing' in module 'pkg_resources.extern' (no-name-in-module)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:12:0: E0611: No name 'six' in module 'pkg_resources.extern' (no-name-in-module)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:47:23: W0212: Access to a protected member _regex_str of a client class (protected-access)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:48:23: W0212: Access to a protected member _regex_str of a client class (protected-access)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:54:45: W0212: Access to a protected member _raw_spec of a client class (protected-access)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:61:29: W0212: Access to a protected member _original_start of a client class (protected-access)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:61:47: W0212: Access to a protected member _original_end of a client class (protected-access)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:75:0: R0205: Class 'Requirement' inherits from object, can be safely removed from bases in python3 (useless-object-inheritance)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:91:8: C0103: Variable name "e" doesn't conform to snake_case naming style (invalid-name)
/log/firmware/firmware/usr/lib/python3.8/site-packages/pkg_resources/_vendor/packaging/requirements.py:92:12: W0707: Consider explicitly re-raising using the 'from' keyword (raise-missing-from)

-----------------------------------
Your code has been rated at 6.11/10

